@tailwind base;
@tailwind components;
@tailwind utilities;

.datePicker {
  width: 100% !important;
  padding: 0.5rem !important;
  background: #E5E5E5 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  color: #000 !important;
  border-radius: 6px;

}

.datePicker:disabled {
  @apply bg-zinc-400 animate-pulse
}

.datePicker .react-datepicker__input-container {
  width: 100% !important;
  display: flex !important;
  gap: 2rem !important;
  align-items: center !important;
}

.datePicker .react-datepicker__input-container input {
  padding-left: 2rem !important;
}

.datePicker input {
  width: 100% !important;
  color: #000 !important;
  background: #E5E5E5 !important;

  outline: none !important;
}